#progressBar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    margin-top: 10px;
    border-radius: 100%;
    color: #ffffff;
 }

#progress {
    height: 100%;
    background-color: #1de638;
    width: 0%;
}